.login_container {
    height: 100vh;
}


.auth_box {
    background-color: var(--brand-white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: auto;
}

.auth_title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--brand-white);
}

.auth_button {
    width: 100%;
    padding: 10px;
    background-color: var(--brand-purple);
    color: var(--brand-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth_button:hover {
    background-color: var(--brand-dark);
}

.user-icon {
    text-align: center;
    margin-bottom: 25px;
    position: relative; /* Position relative for absolute positioning of the circle */
  }
  
  .user-icon svg {
    width: 80px;
    height: 80px;
    color: var(--brand-purple);
    position: relative; /* Ensure the icon stays in place */
    z-index: 2; /* Ensure the icon is above the circle */
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--brand-purple);
    position: absolute; /* Position the circle absolutely relative to the user icon */
    top: 50%; /* Align the circle to the center vertically */
    left: 50%; /* Align the circle to the center horizontally */
    transform: translate(-50%, -50%); /* Center the circle */
    z-index: 1; /* Ensure the circle is behind the icon */
  }